body{
    background-image: url(Images/backgroundLogin.png);
    background-color: #000000;
    background-repeat: no-repeat;
}

#login{
    font-family: 'Public Pixel', sans-serif;
    color: rgb(255, 192, 0);
    background-color: #000000;
    width: 500px;
    height: 100px;
    border-radius:15px;
    
    
}
#password{
    font-family: 'Public Pixel', sans-serif;
    color: rgb(255, 192, 0);
    background-color: #000000;
    width: 500px;
    height: 100px;
    border-radius:15px;
    
    
}
#submit{
    font-family: 'Public Pixel', sans-serif;
    color: rgb(255, 192, 0);
    background-color: #000000;
    width: 300px;
    height: 100px;
    border-radius:15px;
    
}
.submit{
    text-align: center;
}
.login{
    gap: 10px;
    width: 600px;
    height: 100px;
    border-radius:15px;
    padding: 0 3.5%;
    
    
}

.container{
    border: 2px solid green;
    background-color: rgb(255, 192, 0);
    width: 650px;
    height: 400px;
    text-align: center;
    border-radius:15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 5% 0;
    
    
    
}

.content{
    border: 2px solid;
    padding: 15% 33%;
    
}