body {
    background-image: url("Images/background3.png");
    background-color: #000000;
    background-repeat: no-repeat;

   }

#texto_teste{
  font-family: 'Public Pixel', sans-serif;
  font-size: 15px;
  color: rgb(255, 192, 0);
  text-align-last: center;
  margin-top: 170px;
}

#box1{
  border: 2px solid;
  
  
}
#button{
  float: right;
  font-family: 'Public Pixel', sans-serif;
  font-size: 15px;
  color: rgb(255, 192, 0);
  background-color: #000000;
  padding: 0 18%;

}

#divBusca{
  background-color:#ffc100;
  border:solid 1px;
  border-radius:15px;
  width:300px;
  margin-left: 819px;
}
#txtBusca{
  float:left;
  padding-left:5px;
  font-size:15px;
  font-family: 'Public Pixel', sans-serif;
  background-color:transparent;
  background-color:#ffc100;
  text-align: center;
  border:none;
  height:16px;
  width:260px;
}

span{
  font-family: 'Public Pixel', sans-serif;
  color: rgb(255, 192, 0);
  font-size: 15px;
}

.img-banner{                   /* o . é pra chamar classe */
  width: 230px;
  height: 340px;
}

main{
  border: 2px solid;    /*posso colocar cor pra ver a borda*/
  display: flex;             /* uma coluna do lado da outra */
  justify-content: space-between;   /*maior espaço possivel entre itens(nesse caso colunas) */
  padding: 1% 25%;                /*dar mais espaço?(melhor coisa)*/
} 

.coluna{
  /*border: 2px solid purple;*/
  /*display: flex;
  flex-direction: column;        */ 
}

.filme{
  border: 2px solid;                /*posso colocar a cor no final*/
  display: flex;                   /*deixar os textos abaixo da classe filme*/
  flex-direction: column;          /*deixar os textos abaixo da classe filme*/     
  padding: 20% 0;
}

.content{
  width: 235px;
  height: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;  /*separar linhas em 10px*/
}

#staricon{
  height: 10px;
  width: 10px;
}
